
@{
    ViewBag.Title = "badRec";
}

<h1>Failed<span class="glyphicon glyphicon-remove"></span></h1>
<h3>Sorry you can not recognize yourself. Please return to home and try again.</h3>
<a href="https://aspnet.cob.ohio.edu/MIS4200Team6" class="btn btn-link">Return to Home</a>


