
@{
    ViewBag.Title = "SuccessfulRec";
}

<h1>Success <span class="glyphicon glyphicon-check"></span></h1>
<h3>Thank you for the recognition</h3>
<a href="https://aspnet.cob.ohio.edu/MIS4200Team6" class="btn btn-link">Return to Home</a>

