@{
    ViewBag.Title = "Contact Centric";
}
<h2>@ViewBag.Title.</h2>


<address>
    1020 Dennison Ave<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    614-205-8112
</address>

<address>
    <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/company/centric-consulting/">https://www.linkedin.com/company/centric-consulting/</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/centric">https://twitter.com/centric</a>
</address>