@{
    ViewBag.Title = "Contact Centric";
}
<h2>@ViewBag.Title.</h2>


<address>
    1020 Dennison Ave<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    614-205-8112
</address>

<address>
    <a href="https://www.facebook.com/CentricConsultingNational/" class="btn btn-primary"> Facebook</a>
    <a href="https://www.linkedin.com/company/centric-consulting/" class="btn btn-primary"> Linkedin</a>
    <a href="https://twitter.com/centric" class="btn btn-primary"> Twitter</a>
    <a href="https://www.instagram.com/centricconsulting/" class="btn btn-primary"> Instagram</a>
    <a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw" class="btn btn-primary"> Youtube</a>
</address>