@model IEnumerable<MIS4200_Team6.Models.CoreValues>

@{
    ViewBag.Title = "Core Values";
}

<h2>Centric's 7 Core Values</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            Core Value
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CVDesc)
        </td>
        <td>
            
        </td>
    </tr>
}

</table>
